body {
    background-color: rgb(15, 15, 15);
    font-family: Arial, sans-serif;
    margin: 0;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);
    padding: 10px 20px;
    color: bisque;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
}

.navigation-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-bar li {
    margin-left: 20px;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin: 20px auto;
    max-width: 80%;
}

.text-content {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

#p1 {
    color: whitesmoke;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    padding: 10px;
    margin: 0;
}

.about-me ul {
    color: whitesmoke;
    list-style-type: square;
    padding-left: 20px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    margin-left: 30px;
    margin-top: -10px;
}

.image-container {
    position: relative;
    display: inline-block;
    max-width: 30%;
    margin-left: 20px;
    margin-top: 5px;
}

.image-container img {
    width: 100%;
    display: block;
}

.overlay-text {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    color: whitesmoke;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.icon-container {
    margin-left: 95px;
}

.fa-square-instagram {
    color:rgb(174, 61, 81);
    
}

.fa-linkedin {
    margin-left: 25px;
    color:rgb(52, 66, 146)
}

.fa-square-github {
    margin-left: 25px;
    color:aliceblue;
}


